<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="startBtn">Start Video Capture</button>
    <button id="stopBtn">Stop Video Capture</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $('#startBtn').click(function () {
        $.ajax({
          url: "{% url 'start_video' %}",
          type: 'GET',
          success: function (response) {
            console.log('Video capturing started');
          },
          error: function (error) {
            console.log('Error starting video capturing');
          },
        });
      });

      $('#stopBtn').click(function () {
        $.ajax({
          url: "{% url 'stop_video' %}",
          type: 'GET',
          success: function (response) {
            console.log('Video capturing stopped');
          },
          error: function (error) {
            console.log('Error stopping video capturing');
          },
        });
      });
    </script>
  </body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}" />
    <title>ROV Monitoring</title>
    <link rel="icon" type="image/x-icon" href="{%static 'image/logo.jpeg' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap"
      rel="stylesheet"
    />  
  </head>
  <body>
    <div class="container">
      <div id="cont-left">
        <h1>Choose what to analyse from Here!</h1>

        <br><br>
        <a href="{%url 'crack_detection' %}" class="detection-techniques">
          <div id="detection" class="detection-button-glow"><p>Crack Detection </p></div>
        </a >

        <a href="{%url 'corrosion_detection' %}" class="detection-techniques">
          <div id="detection" class="detection-button-glow"><p>Sedimentation Detection </p></div>
        </a >


        <a href="{%url 'corrosion_detection' %}" class="detection-techniques">
            <div id="detection" class="detection-button-glow"><p>Corrosion Detection</p></div>
          </a >


          <a href="{%url 'crack_detection' %}" class="detection-techniques">
            <div id="detection" class="detection-button-glow"><p>Temperature Measurement </p></div>
          </a >

      </div>
    </div>

  </body>
</html>
