<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button id="startBtn">Start Video Capture</button>
    <button id="stopBtn">Stop Video Capture</button>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $('#startBtn').click(function () {
        $.ajax({
          url: "{% url 'start_video' %}",
          type: 'GET',
          success: function (response) {
            console.log('Video capturing started');
          },
          error: function (error) {
            console.log('Error starting video capturing');
          },
        });
      });

      $('#stopBtn').click(function () {
        $.ajax({
          url: "{% url 'stop_video' %}",
          type: 'GET',
          success: function (response) {
            console.log('Video capturing stopped');
          },
          error: function (error) {
            console.log('Error stopping video capturing');
          },
        });
      });
    </script>
  </body>
</html>
